.carousel-container{
  
    align-items: center;
    position: relative;
}  
.carsousel-header h3{
    color: black;
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
   font-family: 'Roboto', sans-serif;
   font-size: 40px;

}
.carsousel-header h1{
    color:#2072ed;
    position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: 'Roboto', sans-serif;
  font-size: 68px;
  font-weight: bolder;

}
.carousel-header2 h1{
    color:#ed8320;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;

}
